/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'QUPATH_STITCH' {
        beforeScript = "export PATH=\$PATH:${projectDir}/bin/QuPath/bin"
    }

    withName: 'EXTRACTIMAGECHANNEL' {
        ext.prefix = { "${meta.id}_dapi" }
        ext.args = { "--channel ${params.nuclear_channel}" }
    }

    withName: "DEEPCELL_MESMER" {
        ext.prefix = { "${meta.id}_mesmer" }
        ext.args = "--compartment 'nuclear' --image-mpp '1'"
    }

    withName: "CELLPOSE" {
        ext.prefix = { "${meta.id}_cellpose" }
        ext.args = "--diameter 30 --pretrained_model 'cyto3' --verbose"
    }

    withName: "SCIMAP_MCMICRO" {
        ext.prefix = { "${meta.id}_${meta.seg}" }
    }

    withName: 'EXTRACT_AF' {
        ext.prefix = { "${meta.id}_AF" }
        ext.args = { "-c \"${params.af_channel}\"" }
    }
}
