// PMCC HPC nf-core configuration profile

// PMCC container cache directory
apptainer {
    cacheDir = "/config/binaries/singularity/containers_devel/nextflow"
}

// Submit up to 100 concurrent jobs
// pollInterval and queueStatInterval of every 1 minutes
// submitRateLimit of 20 per minute
executor {
    queueSize         = 100
    queueStatInterval = '1 min'
    pollInterval      = '2 min'
    submitRateLimit   = '20 min'
}

// PMCC resource limits, executor, and partition names
process {
    executor = 'slurm'
    cache    = 'lenient'
    stageInMode = 'symlink'
    queue = { task.time < 9.h ? 'rhel_short' : 'rhel_long' } 

    resourceLimits = [
        cpus: 40,
        memory: 300.GB,
        time: 336.h
    ]
}

